.footer-container {
  width: 100%;
  background-color: #1f2937; /* Темно-сірий */
  color: #d1d5db; /* Світло-сірий текст */
  padding: 1rem;
  text-align: center;
  margin-top: auto;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.copyright {
  margin: 0;
  font-size: 0.875rem; /* 14px */
}